NEXT_PUBLIC_API_URL=http://localhost:3001
NEXTAUTH_URL=http://localhost:3100
NEXTAUTH_SECRET=change-me-in-production

# Keycloak OIDC
KEYCLOAK_ISSUER=http://localhost:8080/realms/ehr-dev
KEYCLOAK_CLIENT_ID=ehr-web
NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8080/realms/ehr-dev
